In [57]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\anish\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anish\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [58]:
import pandas as pd

In [86]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\anish\anaconda3\lib\site-packages (1.26.4)

In [88]:
import numpy as np

In [59]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anish\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [60]:
df=pd.read_csv('https://raw.githubusercontent.com/611noorsaeed/100-days-Scikit-Learn-Tutorials-/refs/heads/main/9%20covid_toy.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
from sklearn.compose import ColumnTransformer

In [63]:
from sklearn.preprocessing import  OneHotEncoder, OrdinalEncoder

In [64]:
from sklearn.impute import SimpleImputer

In [47]:
transformer=ColumnTransformer(
    transformers=[
        ('tf1',SimpleImputer(strategy='mean'),['fever']),
        ('tf2',OrdinalEncoder(),['gender','cough']),
        ('tf3',OneHotEncoder(drop='first',sparse_output=False,dtype=int),['city'])
        ],
    remainder='passthrough'
)

In [65]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [68]:
df['has_covid']=le.fit_transform(df['has_covid'])

In [81]:
df.head()

   age  gender  fever cough     city  has_covid
0   60    Male  103.0  Mild  Kolkata          0
1   27    Male  100.0  Mild    Delhi          1
2   42    Male  101.0  Mild    Delhi          0
3   31  Female   98.0  Mild  Kolkata          0
4   65  Female  101.0  Mild   Mumbai          0

In [69]:
x=df.drop('has_covid',axis=1)
y=df['has_covid']

In [71]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [75]:
x_train_tf=transformer.fit_transform(x_train)

In [76]:
x_test_tf=transformer.fit_transform(x_test)

In [77]:
features_names=transformer.get_feature_names_out()
features_names

array(['tf1__fever', 'tf2__gender', 'tf2__cough', 'tf3__city_Delhi',
       'tf3__city_Kolkata', 'tf3__city_Mumbai', 'remainder__age'],
      dtype=object)

In [82]:
x_train_tf=pd.DataFrame(x_train_tf,columns=features_names,index=x_train.index)
x_train_tf.head()

,tf1__fever,tf2__gender,tf2__cough,tf3__city_Delhi,tf3__city_Kolkata,tf3__city_Mumbai,remainder__age
55,101.0,0.0,0.0,0.0,0.0,1.0,81.0
88,100.0,0.0,0.0,0.0,1.0,0.0,5.0
26,100.0,0.0,0.0,0.0,1.0,0.0,19.0
42,100.0,1.0,0.0,1.0,0.0,0.0,27.0
69,103.0,0.0,0.0,1.0,0.0,0.0,73.0

In [89]:
x_test_tf.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'